<!DOCTYPE html>
<html>
    <head>
        <title>
            waiter app
        </title>
        <link rel = 'stylesheet' type = 'text/css' href = '/waiter.css'>
        <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    </head>
<body>
    {{{body}}}
</body>
</html>