<h1>WELCOME :)</h1>
{{successlogin}}
<form action="/login" method="post">
    <input type="text" placeholder="username" name="usernameInput">
    <hr>
    <input type="text" placeholder="password" name="passwordInput">
    <hr>
    <button type="submit" name="loginBtn">Login</button>
    <hr>
</form>

<form action="/signUp" method="post">
    <a href="/signup">register here</a>
</form>