<!DOCTYPE html>
<html>
    <head>
        <title>
            
        </title>
    </head>
    <body>
        <h1>Sign Up here:</h1>
        <hr>
    <form action="/signUp" method="post">
        <input type="text" name="setUsername" placeholder="username">
        <hr>
        <input type="password" name="setPassword" placeholder="password">
        <hr>
        <input type="password" name="confirmPassword" placeholder="confirm password">
        <hr>
        <button type="submit" name="signupBtn">Sign Up</button>
    </form>
        {{signupfail}}
    </body>
</html>