<form action="" method="post">
    <h1>Libonge Jazz Cafe</h1>
<hr>
<h4>{{msg}}</h4>
    Please select days that you can be available to work on this week.
    <br>
    <br>
    <hr>
<input type="checkbox" name="days" value="Sunday" {{#if result.days.Sunday}}Checked{{/if}}> Sunday |
<input type="checkbox" name="days" value="Monday" {{#if result.days.Monday}}Checked{{/if}}> Monday |
<input type="checkbox" name="days" value="Tuesday"{{#if result.days.Tuesday}}Checked{{/if}}> Tuesday |
<input type="checkbox" name="days" value="Wednesday" {{#if result.days.Wednesday}}Checked{{/if}}> Wednesday |
<input type="checkbox" name="days" value="Thursday" {{#if result.days.Thursday}}Checked{{/if}}> Thursday |
<input type="checkbox" name="days" value="Friday" {{#if result.days.Friday}}Checked{{/if}}> Friday |
<input type="checkbox" name="days" value="Saturday" {{#if result.days.Saturday}}Checked{{/if}}> Saturday
    <hr>
    <br>
    <br>
<button type="submit" name="sendDays">Send Days</button>
<br>
<br>
    {{daysSent}}
<br>
<!--    <hr>-->
    {{selectError}}
</form>