<form action="" method="post">
    <h1>Libonge Jazz Cafe</h1>
<hr>
<h4>{{msg}}</h4>
    Please select days that you can be available to work on this week.
    <br>
    <br>
<input type="checkbox" name="days" value="Sunday"> Sunday |
<input type="checkbox" name="days" value="Monday"> Monday |
<input type="checkbox" name="days" value="Tuesday"> Tuesday |
<input type="checkbox" name="days" value="Wednesday"> Wednesday |
<input type="checkbox" name="days" value="Thursday"> Thursday |
<input type="checkbox" name="days" value="Friday"> Friday |
<input type="checkbox" name="days" value="Saturday"> Saturday
    <br>
    <br>
<button type="submit" name="sendDays">Send Days</button>
<br>
<br>
    {{daysSent}}
<br>
<!--    <hr>-->
    {{selectError}}
</form>